@model List<Course>

<link href="~/css/Table.css" rel="stylesheet" />

<h1>Course table</h1>

<a class="Link" href="/Course/Create">Add New Course</a>

<table>
    <thead>
        <tr>
            <th>Course Name</th>
            <th>Room Capacity</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Course Course in Model)
        {
            <tr>
                <td>
                    @Course.CourseName
                </td>

                <td>
                    @Course.RoomCapacity
                </td>
                <td>
                    <a href="/Course/Delete/@Course.Courseid">X</a>
                </td>
            </tr>
        }
    </tbody>
</table>